* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg:red;
}



.error-modal {
    --color-error-text:red;
    --modal-border: 1px solid black;
    --modal-font-size: calc(2rem + 5vw);

    color: var(--color-error-text);
    border: var(--modal-border);
    font-size: var(--modal-font-size);
}

.fallback {
    --color-text:white;
    background-color: var(--undeclared-property, black);
    color: var(--undeclared-again, var(--color-text, yellow));
}


.cool-paragraph {
    background-color: var(--main-bg);
}


.exciting-paragraph {
    background: var(--main-bg);
}