:root.dark {
    --border-btn:1px solid rgb(220, 220, 220);
    --color-base-bg:rgb(18, 18, 18);
    --color-base-text:rgb(240, 240, 240);
    --color-btn-bg:rgb(36,36,36);
}

:root.light {
    --border-btn:1px solid rgb(36,36,36);
    --color-base-bg:rgb(240,240,240);
    --color-base-text:rgb(18,18,18);
    --color-btn-bg:rgb(220, 220, 220);
}

body,
.theme-toggle {
    color: var(--color-base-text);
}

body {
    background: var(--color-base-bg);
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: clamp(1.5rem, 2rem, 3rem);
}

.theme-toggle {
    background: var(--color-base-bg);
    border: var(--border-btn);
    font-size: clamp(1.25rem, 2rem, 2.5rem);
    padding: 10px 20px;
}

.theme-toggle:hover {
    cursor: pointer;
}

.theme-toggle:focus {
    outline: var(--border-btn);
}

